{% extends "utils/layout.html" %}
{% block content %}
<div class="full-slider">
   <div id="carousel-example-generic" class="carousel slide">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
         <!-- First slide -->
         <div class="item active deepskyblue" data-ride="carousel" data-interval="5000">
            <div class="carousel-caption">
               <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
               <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div class="slider-contant" data-animation="animated fadeInRight">
                     <h3>Antrenman Yapmazsan <span class="color-yellow"><br>Fit kalamazsın</span></h3>
                     <p>Harekete geç ve rakiplerinden daha iyi olduğunu onlara göster.<br></p>
                  </div>
               </div>
            </div>
         </div>
   </div>
   <!-- /.carousel -->
   <div class="news">
      <div class="container">
         <div class="heading-slider">
            <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Son Dakika :</p>
            <!--made by vipul mirajkar thevipulm.appspot.com-->
            <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Işık Üniversitesi Halısaha randevu sistemi kullanıcılara açılmaya çok yakın!!!"]'>
            <span class="wrap"></span>
            </a>
            </h1	   
            <span class="wrap"></span>
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}