{% extends "utils/layout.html" %}
{% block head %} 
   <link rel="stylesheet" href="{{url_for('static',filename='thirdparty/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css')}}">
{% endblock%}
{% block inner_page_banner %}
<div class="inner-page-banner">
   <div class="container">
   </div>
</div>
{% endblock %}
{% block content %}
   <section id="contant" class="contant main-heading team">
      <div class="row">
         <div class="container">
               <div class="col-md-12 column">
                  <div class="card">
                  </br>
                  <h1>Randevu almak istediğiniz tarihi ve saati seçiniz</h1>
                  <hr>
                     <div class="row">
                        <div class="container">
                           <div class="col-md-4 column">
                                    <div class="center">
                                       <p><div id="sandbox-container"></div></p>
                                    </div>
                                    <p></p>
                           </div>
                           <div class="col-md-7 column table-responsive">
                              <table class="table">
                                 <tr>
                                    <td><button class="btn btn-primary disabled" id="kaydet-btn">01.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">02.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">03.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">04.00</button></td>
                                 </tr>
                                 <tr>
                                    <td><button class="btn btn-primary" id="kaydet-btn">05.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">06.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">07.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">08.00</button></td>
                                 </tr>
                                 <tr>
                                    <td><button class="btn btn-primary" id="kaydet-btn">09.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">10.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">11.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">12.00</button></td>
                                 </tr>
                                 <tr>
                                    <td><button class="btn btn-primary" id="kaydet-btn">13.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">14.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">15.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">16.00</button></td>
                                 </tr>
                                 <tr>
                                    <td><button class="btn btn-primary" id="kaydet-btn">17.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">18.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">19.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">20.00</button></td>
                                 </tr>
                                 <tr>
                                    <td><button class="btn btn-primary" id="kaydet-btn">21.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">22.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">23.00</button></td>
                                    <td><button class="btn btn-primary" id="kaydet-btn">24.00</button></td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                     <hr>
                     </br>
                     <div class="row">
                        <div class="container">
                           <div class="col-md-12 column">
                                    <div class="center">
                                       <button class="button" id="kaydet-btn">Kaydet</button>
                                    </div>
                                    <p></p>
                           </div>
                        </div>
                     </div>

                   </div>
               </div>
         </div>   
      </div>
   </section>
{% endblock %}

{% block plugins %}
   <script src="{{url_for('static', filename='thirdparty/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js')}}"></script>
   <script src="{{url_for('static', filename='thirdparty/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.tr.min.js')}}"></script>
   <script src="{{url_for ('static', filename='js/randevu.js')}}"></script>
{% endblock %}